
.container {
    width: 920px;
    margin: 0 auto;
}

#nota-principal {
    height: 300px;
    background-color: bisque;
    
}

#barra-navegacion {
    height: 50px;
    background-color: darkmagenta;
}
