
.container {
    width: 920px;
    margin: 0 auto;
}

#nota-principal {
    height: 300px;
    background-color: bisque;
    
}

#barra-navegacion {
    height: 50px;
    background-color: darkmagenta;
}

#encabezado {
    height: 150px;
    background-color: beige
}

#notas-secundarias {
    width: 660px;
    float: left;
    padding: 20px;
    background-color: chocolate;
    height: 260px;
}

#publicidad {
    width: 210px;
    float: right;
    padding: 5px;
    background-color: aqua;
    height: 290px;
}

#pie {
    clear: both;
}

#logo-sep{
    float:left; 
    margin-top: 31px;
}

#titulos {
    padding-left: 310px;
}
#titulos *{
    margin: 0;
    padding: 0;
}
#titulos *{ 
    display: inline-block;
    margin: 0;
    padding: 0;
}
